.header {
  top: 0.01em;
  position: sticky;
}

.menu {
  position: relative;
}

.menu-container {
  margin: 0;
}

.menu-toggle {
  position: absolute;
  top: -1.0em;
  right: 0.1em;

  border: 0;
  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden
}

.menu-toggle::after {
  position: absolute;
  top: 0.3em;
  left: 0.2em;
  display: block;
  content: "\2261";
  text-indent: 0;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}

.menu.isOpen .menu-dropdown  {
  display: block;
}

.top-nav {
  margin: 0;
  padding-left: 0;
  border: 1px solid #ccc;
  list-style: none;
  color: #fff;
  background-color: var(--brand-brown);
}

.top-nav > li {
  margin: 0.5em .5em;
}

.top-nav > li + li {
  border-top: 1px solid #ccc;
}

.top-nav > li > a {
  display: block;
  padding: 0.8em 1em;
  color: #fff;
  font-weight: normal;
}

@media (min-width: 55em) {
  .menu-toggle {
    display: none;
  }
  .menu-dropdown {
    display: block;
    position: static;
  }
}

@media (min-width: 35em) {


  a {
    color: var(--medium-brown);
  }
  a:visited {
    color: var(--brand-brown);
  }
  a:hover {
    color: var(--brand-brown);
  }

  
  
    .nav-container {
      background-color: var(--medium-brown);
    }
    
    .nav-container__inner {
      display: flex;
      justify-content: space-between;
      max-width: 1080px;
      margin: 0 auto;
      padding: 0.625em 0;
    }

    .home-link {
      color: var(--text-color);
      font-size: 1.6rem;
      font-family: Georgia, serif;
      font-weight: bold;
      text-decoration: none;
    }
    
    .top-nav {
      display: flex;
      list-style-type: none;
      margin: 0;
      border: 0;
      background-color: var(--medium-brown);
     }

     .top-nav > li {
       flex: 1;
     }

     .top-nav > li + li {
       margin-left: 0.625em;
     }

     .top-nav > li > a {
      display: block;
      padding: 0.3em 1.25em;
      color: var(--white);
      background: var(--brand-brown);
      text-decoration: none;
      border-radius: 3px;
      font-size: 1.0em;
     }
   }
